{% extends "base/modal.html" %}
{% load form_helpers task_helpers %}

{% block modal_title %}{{ title }}{% endblock %}

{% block modal_body %}
  <form hx-post="{{ request.path }}"
        hx-swap="none"
        class="modal-form">
    {% csrf_token %}
    
    {% for field in form %}
      {{ field|as_field }}
    {% endfor %}

    <div class="d-flex justify-content-end gap-2 mt-3">
      <button type="button" 
              class="btn btn-secondary" 
              data-bs-dismiss="modal">
        Cancelar
      </button>
      <button type="submit" 
              class="btn btn-primary">
        Salvar
      </button>
    </div>
  </form>
{% endblock %}